.addtodo{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 70px;
    width: 40%;
    background-color: white;
    margin-top: 19vh;
}

.addtodo h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-shadow: rgb(0, 192, 250);
    color: rgba(0, 0, 0, 0.603);
}

.addtodo input{
    width: 45vh;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    border-color: rgb(0, 192, 250);
    color: rgb(0, 192, 250);
}

.submit{
    padding: 11px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 192, 250);
    border: none;
    margin-left: 7px;
    width: 45px;
}

.showItems{
    /* display: flex; */
    justify-content: center;
}

.eachItem{
    margin-top: 12px;
    width: 60%;
    background-color: rgb(202, 223, 223);
    justify-content: space-between;
    text-align: start;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 135px;

}

.eachItem h3{
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    margin-left: 20px;
    color:  rgb(0, 192, 250);
}

.edit{
    background: none;
    border: none;
    margin-right: 10px;
    font-size: 15px;
    color: rgb(59, 121, 121);
}

.delete{
    background: none;
    border: none;
    margin-right: 10px;
    font-size: 15px;
    color: rgb(59, 121, 121);
}


.Count{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

.lengthCount{
    font-size: 20px;
    margin-right: 40px;
    color: rgba(0, 0, 0, 0.651);

}

.Count button{
    border: none;
    background-color: white;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.671);

}
